<% provide(:title, 'Make it Snappy Q&A') %>

<div id="ask">
    <h1>Ask a Question</h1>

    <% if logged_in? %>
        <%= render 'question_form' %>
    <% else %>
        <p>Please, login to ask and answer questions</p>
    <% end %>
</div><!-- end ask -->
