<% provide(:title, 'View Question') %>

<h1>
    <%= @question.user.username.capitalize %> asks:
</h1>

<p>
    <%= @question.body %>
</p>

<div id="answers">
    <h2>Answers</h2>

    <% if @question.answers.any? %>
        <ul>
            <%= render @question.answers %>
        </ul>
    <% else %>
        <p>This question has not been answered yet</p>
    <% end %>
</div>

<div id="post-answer">
    <h2>Answer this question</h2>

    <% if logged_in? %>
        <%= render 'answers/answer_form' %>
<% else %>
    <p> Please, login to be able to answer this question</p>
    <% end %>
</div><!-- end post-answer -->
